body {
  font-family: 'Quicksand', sans-serif;
  background: #2C3E50;
  color: #ECF0F1;
}

h1{
  margin-top: 100px;
  cursor: pointer;
}

a{
  color: #d9534f;
}

a:hover{
  color: #B23B2E;
  text-decoration: none;
}

.input-group{
  margin-top: 60px;
  margin-bottom: 60px;
}

#random-text{
  margin-top: 60px;
}

/*
  Footer Style
*/
.footer{
  font-size: 18px;
  color: #ECF0F1;
  margin-left: 20px;
  bottom: 0;
  width: 100%;
  margin-top: 120px;
}

.footer a {
  color: #ECF0F1;
}

/*
  Style for result elements
*/

.result {
  background: #ECF0F1;
  color: #2C3E50;
  text-align: left;
  margin-bottom: 12px;
  padding: 8px;
  border-radius: 5px;
  width: 100%;
}
